.radius-0{
    border-radius: 0!important;
}
.content-body{
    background: #ffffff;
    padding: 2rem;
    border-radius: 5px;
    height: 100%;
}
.list-group-item{
    border: none;
    border-radius: .5rem!important;
}
.list-group-item span {
    float: left;
    display: block;
    width: 80px;
}

.list-group li:nth-child(odd) {
    background-color: #fafafc;
}
.comment-wrapper{
    margin-top: 2rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}




.comment_user_head {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}

.comment_list {
    margin: 20px 0 0 14px;
}

.comment_detail {
    overflow: hidden;
    margin-bottom: 20px;
}

.comment_user_con {
    overflow: hidden;
}

.comment_user_con p {
    /* float: left; */
    margin: 2px 0 0;
}
